# Developer tools' files
.lite_workspace.lua

# Node.js dependencies
node_modules/

# Neutralinojs binaries and builds
/bin
/dist

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log

# App Installation Directory (Runtime)
oman-swiss-army-tool/
instance.lock
runner-config.json
